<h1>Your Projects</h1>

<table class="table">
<% @projects.each do |project| %>
  <tr>
    <td class="name"><%= link_to project.name, project %></td>
    <td><%= project.todos_count %> todos</td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
