<div class="row-fluid">
  <div class="span12">
    <h1>
      <%= project.name %>, <%= project.completed_todo_count %> completed of <%= pluralize(project.todos_count, "todo") %>
      <small class="tiny pull-right">
        <%= link_to 'Project Settings', edit_project_path(project) %>
      </small>
    </h1>

    <% if project.comments.recently_updated.any? %>
      <h5>Recent Discussions</h5>
      <% project.comments.recently_updated.limit(3).each do |comment| %>
        <p>
          <%= link_to truncate(comment.message, length: 50), [project, comment.todo] %> 
          <span class="pull-right">
            <em class="light">
              <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago
            </em>
          </span>
        </p>
      <% end %>
    <% end %>
    <br/>
  </div>
</div>