<tr data-name="todo-row" class="todo-row">
  <td class="title">
    <div class="static">
      <%= link_to [todo.project, todo] do %>
        <% if todo.complete? %>
          <del><%= todo.title %></del>
        <% else %>
          <%= todo.title %>
        <% end %>
      <% end %>
      <% if todo.user %>
        <span class="todo-user">(<%= todo.user.name %>)</span>
      <% end %>
    </div>
    <div class="editable hide">
    <%= simple_form_for [todo.project, todo], html: {class: "form-inline"}, remote: true do |f| %>
        <p><%= f.input_field :title, class: "fill" %></p>
        <p><%= f.collection_select :user_id, User.all, :id, :name, include_blank: true %></p>
        <p>
          <%= f.submit 'save', class: "btn" %>
          <%= link_to 'cancel', "#", "data-action" => "edit-todo", class: "btn btn-link" %>
        </p>
      <% end %>
    </div>
  </td>
  <td class="actions">
    <div class="static"> 
      <%= link_to '#', "data-action" => "edit-todo" do %>
        <i class="icon-edit"> edit</i>
      <% end %>
      |
      <%= link_to project_todo_path(todo.project, todo), method: :delete, remote: true, data: { confirm: 'Are you sure?' }  do %>
        <i class="icon-remove-circle"></i>
      <% end %>
      |
      <% if todo.complete? %>
        <%= link_to project_todo_path(todo.project, todo, todo: {complete: false}), method: :put, remote: true do %>
          <i class="icon-repeat"></i>
        <% end %>
      <% else %>
        <%= link_to project_todo_path(todo.project, todo, todo: {complete: true}), method: :put, remote: true do %>
          <i class="icon-ok"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
