<p id="notice"><%= notice %></p>

<%= content_for :breadcrumbs do %>
  <%= sync partial: 'todo_breadcrumbs', resource: @todo %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <%= sync partial: 'todo_show_form', resource: @todo %>
    <div class="row-fluid">
      <div class="span12">
        <% @todo.comments.ordered.each do |comment| %>          
          <%= sync partial: 'todo_comment', resource: comment %>
          <br/>
        <% end %>
        <%= sync_new partial: 'todo_comment', resource: Comment.new, scope: @todo %>
      </div>
    </div>
    <br/>
    <br/>
    <%= sync partial: 'todo_comment_form', resource: @todo %>

<!--     <div class="row-fluid">
      <div class="span12">
        <%= simple_form_for [@todo.project, @todo, @todo.comments.new], remote: true do |f| %>
          <div class="row-fluid">
            <%= f.text_area :message, rows: 5, class: 'span12' %>
          </div>
          <div class="row-fluid">    
            <div class="span12 text-left">
              <%= f.button :submit, "Add this comment" %>
            </div>
          </div>
        <% end %>
      </div>
    </div> -->
  </div>
</div>



<%= link_to 'Edit', edit_project_todo_path(@todo.project, @todo) %> |
<%= link_to 'Back', project_path(@todo.project) %>
