<p id="notice"><%= notice %></p>

<%= content_for :breadcrumbs do %>
  <%= sync partial: 'todo_breadcrumbs', resource: @todo %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <%= sync partial: 'todo_show_form', resource: @todo %>
    <div class="row-fluid">
      <div class="span12">
        <% @todo.comments.ordered.each do |comment| %>          
          <%= sync partial: 'todo_comment', resource: comment %>
          <br/>
        <% end %>
        <%= sync_new partial: 'todo_comment', resource: Comment.new, scope: @todo %>
      </div>
    </div>
    <br/>
    <br/>
    <%= sync partial: 'todo_comment_form', resource: @todo %>
  </div>
</div>
