<%= content_for :breadcrumbs do %>
  <%= sync partial: 'todo_breadcrumbs', resource: @todo %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <%= sync partial: 'todo_show_form', resource: @todo %>
    <div class="row-fluid">
      <div class="span12">
        <%= sync partial: 'todo_comment', resources: @todo.comments.ordered, scope: @todo, new: Comment.new %>
      </div>
    </div>
    <br/>
    <br/>
    <%= sync partial: 'todo_comment_form', resource: @todo %>
  </div>
</div>
